@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}

.nav-bar{
    background-color: red;
    position: relative;
    width: 100%;
    display: inline-flex;
    padding: 15px 7px;
    padding-inline: 10px;
}
.label{
    padding-left: 20px;
}

li{
    padding-left: 10px;
}

.searchbar{
    display: block;
    align-items: center;
    text-align: center;
    width: 400px;
    height:40px;
    border: 100%;
    border-radius: 20px;
    margin-left: 90px;
    margin-right: 20px;
}

